/.idea/
/.vscode/
/shelf/
/workspace.xml
/bin
/obj

# Arquivos compilados (geral)
*.class
*.dll
*.exe
*.so
*.o
*.obj
*.pyc
*.pyo
*.pyd
*.out
*.bin
*.apk
*.jar
*.war
*.swp
*.luac
*.a
*.dylib
*.lib
*.xcodeproj
*.xcworkspace

# Diretórios específicos de IDEs
.idea/
.vscode/

# Arquivos temporários e backup
*.tmp
*.bak
*~
